<header class="bg-dark">
    <div class="container pt-4 py-5 pt-xl-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">Numero #1 de Los Santos</p>
                </div>
                <h1 class="display-4 fw-bold text-light text-center">Les meilleurs véhicules</h1>
                <div class="position" style="display: flex;align-items: center;justify-content: center ; width:100%; height:300px">
                    <img src="\assets\img\Pdm_Logo_shadow.webp" class="img-fluid" alt="Product Image">
                </div>
            </div>
        </div>
    </div>
</header>