<section class="bg-dark">
    <div class="container text-light">
        <div class="row text-center py-5">
            <h1>{{ title }}</h1>
            <p>Choisit ta catégories de véhicules favorite</p>
        </div>
    </div>

    <div class="container  bg-dark" *ngIf="!showCars">
        <div class="row align-items-sm-start py-5  rounded">
            <div class="col-6 col-sm-4 mb-4   " *ngFor="let class of categories">
                <div
                    class="card-body rounded mb-2 py-4 text-light bg-sombre text-center d-flex justify-content-sm-center align-items-center flex-column">
                    <h2>{{class}}</h2>
                    <a (click)="displayVehicles(class)" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
    </div>
    
</section>


<div *ngIf="showCars" class="bg-dark">
  <div class="container">
    <button (click)="showCars = false" class="btn btn-secondary mb-3">Retour aux catégories</button>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12 mb-3" *ngFor="let item of cars | keyvalue">
        <div class="card text-center bg-dark text-light border-0">
          <div class="card-body rounded mb-2 py-4 text-light bg-sombre text-center d-flex justify-content-sm-center align-items-center flex-column">
            <h1>{{ item.value.model }}</h1>
            <img [src]="item.value.images.frontQuarter" alt="{{ item.value.model }}" class="img-fluid" />
            <h4> Fabricant : {{ item.value.manufacturer }}</h4>
            <h4> Vitesse : {{ item.value.acceleration }} Km.h</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
