<!-- sectionSERVICE -->
<section class="py-4 bg-sombre"></section>
<section class="bg-sombre pt-4 pt-xl-5 ">
  <div class="container pt-4 pt-xl-5 bg-dark">
    <div class="row">
      <div class="col-md-8 col-xl-6 text-center  text-light mx-auto">
        <p class="fw-bold text-success mb-2">Service</p>
        <h3 class="fw-bold">Ce que nous vous offrons</h3>
      </div>
    </div>

    <div class="py-5 p-lg-5">
      <div class="row row-cols-1 row-cols-md-2 mx-auto" style="width:90%">

        <div class="col mb-5">
          <div class="card shadow-sm  bg-dark rounded-3 mx-5">
            <div class="card-body bg-sombre rounded-3 text-light py-5 px-md-5">
              <h5 class="card-title">Un service de qualité</h5>
              <p class="card-text">Description de la carte 1</p>
            </div>
          </div>
        </div>

        <div class="col mb-5">
          <div class="card shadow-sm  bg-dark rounded-3 mx-5">
            <div class="card-body bg-sombre rounded-3 text-light py-5 px-md-5">
              <h5 class="card-title">Un service de qualité</h5>
              <p class="card-text">Description de la carte 1</p>
            </div>
          </div>
        </div>

        <div class="col mb-5">
          <div class="card shadow-sm  bg-dark rounded-3 mx-5">
            <div class="card-body bg-sombre rounded-3 text-light py-5 px-md-5">
              <h5 class="card-title">Un service de qualité</h5>
              <p class="card-text">Description de la carte 1</p>
            </div>
          </div>
        </div>

        <div class="col mb-5">
          <div class="card shadow-sm  bg-dark rounded-3 mx-5">
            <div class="card-body bg-sombre rounded-3 text-light py-5 px-md-5">
              <h5 class="card-title">Un service de qualité</h5>
              <p class="card-text">Description de la carte 1</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="py-5 bg-sombre">
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto text-light">
        <p class="fw-bold text-success mb-2">Témoignage</p>
        <h2 class="fw-bold">Ce que les autres disent de nous</h2>
        <p class="text-secondary">N'importe quel véhicule 7/7j 24h24</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p class="bg-dark border rounded text-light  border-dark p-4">Grosse dinguerie, j'ai reçu mon véhicule en moins de 2h !
            je recommande</p>
          <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50"
              src="assets/img/team/avatar2.jpg">
            <div>
              <p class="fw-bold text-light  mb-0">John Smith</p>
              <p class="text-muted mb-0">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p class="bg-dark border rounded  text-light  border-dark p-4">Grosse dinguerie, j'ai reçu mon véhicule en moins de 2h !
            je recommande</p>
          <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50"
              src="assets/img/team/avatar4.jpg">
            <div>
              <p class="fw-bold text-light  mb-0">John Smith</p>
              <p class="text-muted mb-0">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p class="bg-dark border rounded  text-light border-dark p-4">Grosse dinguerie, j'ai reçu mon véhicule en moins de 2h !
            je recommande</p>
          <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50"
              src="assets/img/team/avatar5.jpg">
            <div>
              <p class="fw-bold text-light mb-0">John Smith</p>
              <p class="text-muted mb-0">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-light py-5">
    <p class="mb-4" style="font-size: 1.6rem;">Nous sommes aussi sur</p><a href="#"> </a><a href="#"> </a><a href="#">
    </a><a href="#"> </a><a href="#"> <img class="m-3" src="assets/img/brand/twitter.png"></a>
    <a href="#"> </a><a href="#"> <img class="m-3" src="assets/img/brand/google.png"></a>
    <a href="#"> </a><a href="#"> <img class="m-3" src="assets/img/brand/microsoft.png"></a>    
  </div>
</section>